<!DOCTYPE HTML>
<html lang="en-US" xml:lang="en-US" parentLang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ADAS Dashboard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/bootstrapNO.css" />
    <link rel="stylesheet" href="../static/css/slider.css" />
    <link rel="stylesheet" href="../static/css/XX.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:#fef;" class="container-fluid">
    <div class="container-fluid">
        <header>  
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <img style="align-self:flex-start;" src="../static/images/boa_animation.gif" height="100"
                    alt="Bank of America" />
            </div>
            <div class="row">
                <div class="col-md-8">
                    <blockquote>
                    <h3>Supply Chain Finance: AI Driven Advisory System: <u>Executive Dashboard</u></h3>       </blockquote>
                </div>                


            </div>    
        </header>
    </div>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    {% include "includes/footer.html" %}

</body>