<!DOCTYPE HTML>
<html lang="en-US" xml:lang="en-US" parentLang="en">

<head>
    <meta charset="UTF-8" />

    <title>ADAS Dashboard</title>
    <link rel="stylesheet" href="../static/css/boa.css" />
    <link rel="stylesheet" href="../static/css/boas.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="homepage contentpage page basicpage">
    <div class="aem-wrap--nav">
        <header role="banner">
            <div class="nav nav--top-banner "> 
                <div class="fix-navigation">
                    <div class="navigation">
                        <div class="navigation__container">
                            <div class="navigation__container--mobile">
                                <a class="navigation__logo t-track-nav-logo" href="#" target="_self"
                                    aria-label="Bank of America"
                                    data-bactmln="Nav-_-Logo-_-bank-of-america_https://about.bankofamerica.com/en"> <img
                                        src="https://about.bankofamerica.com/content/dam/about/images/logos/logo-color.svg"
                                        alt="Bank of America" /> </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </header>
    </div>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    {% include "includes/footer.html" %}

</body>