{% extends "layout2.html" %}

{% block content %}

<div class="col-md-6">
    <div class="col-md-6">
        <table class="table table-hover">
        <tr>
            <td>
                <select class="form-control input-sm" id="Company">
                    <option>
                        Select the client...
                    </option>
                    <option>
                        Acme Widgets
                    </option>
                    <option>
                        Second Co
                    </option>
                    <option>
                        DFG Corp1
                    </option>
                </select>
            </td>
        </tr>
        </table>    
</div>
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <td>
                    <select class="form-control input-sm" id="SubSid">
                        <option>
                            Select the subsidiary...
                        </option>
                        <option>
                            Sub 1
                        </option>
                        <option>
                            Sub 2
                        </option>
                        <option>
                            Sub 3
                        </option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <body>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="left"><u><b>ADAS Recommendation</u></b></td>
                <td><u><b>Scenario Planning</b></u></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><b>Invoice Discount Rate >></b></td>
                <td style="color: green;"><b>2.75%</b></td>
                <td>3%</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><b>% of Working Capital Funded >></b></td>
                <td style="color: green;"><b>75%</b></td>
                <td>60%</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><b>Processing Fees >></b></td>
                <td style="color: rgb(255, 196, 0);"><b>10%</b></td>
                <td>9%</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><b>Discount % for early payments >></b></td>
                <td style="color: red;"><b>2.3%</b></td>
                <td>2.5%</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><blockquote><strong>Revenue >></strong></blockquote></td>
                <td style="color: green;"><blockquote>$5.3M</blockquote></td>
                <td>$4.9M</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><blockquote><strong>Risk >></strong></blockquote></td>
                <td style="color: green;"><blockquote>8%</blockquote></td>
                <td>5%</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center"><h5><u>AI Trustworthyness Index</u></h5></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><img src="../static/images/green.png">&nbsp;>80%</td>
                <td><img src="../static/images/yellow.png">&nbsp;50%-79%</td>
                <td><img src="../static/images/red.png">&nbsp;<50%</td>
            </tr>
        </body>
        </table>
    </div>
</div>

<div class="col-md-6">
    <div >{{ graphScript }}</div>
    <div style="align-self: center;" class="slidecontainer">
        <table class="table table-hover" width="500">
            <tr>
                <td align="left">Max-Revenue</td>
                <td></td>
                <td align="right">Min-Risk</td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                    <p>Scenario: <span id="demo"></span></p>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>

{% endblock %}